body{
    padding:0;
    margin:0;

    text-align:center;
}

#game{   
    margin:0 auto;
    position:relative;

    background:#000;
    border:0 solid #000;
}

#game *{
    position:absolute;
}

#hero{
    border-radius:50%;
    background:#f00;
}

.planet{
    border-radius:50%;
    background:#0f0;
}
