body{
    padding:0;
    margin:0;

    text-align:center;
}

#game{   
    margin:0 auto;
    position:relative;
    overflow:hidden;

    background:#000;
    border:0 solid #000;
}

#game *{
    position:absolute;
    border-radius:50%;
}

#score{
    width:100%;
    background:#000;
    z-index:100;
    
    color:#fff;
    text-align:center;
    font-weight:bold;
}

.hero{
    background:#f00;
    z-index:20;
}

.planet{
    background:#0f0;
}

.coin{
    background:#ff0;
}

.sun{
    background:#f90;
}

.stone{
    background:#ccc;
}
